@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');


.headermain {
	display: flex;
	width: 1360px;
	height: 81px;

}

.headerlogo {
	width: 133px;
	height: 31px;
	margin-left: 86px;
	margin-right: 503px;
}

ul {
	width: 505px;
	height: min 13px;
	display: flex;
	justify-content: space-between;

}


.list {
	justify-content: space-between;
}




.greece {
	width: 1360px;
	height: 569px;
	position: relative;


}



.text1 {


	position: absolute;
	top: 226px;
	right: 356px;
	bottom: 308px;
	left: 416px;
	font-size: 78px;
	color: #ffffff;
	font-family: arial;
}

.text2 {

	position: absolute;
	top: 385px;
	right: 519px;
	bottom: 384px;
	left: 527px;
	color: #ffffff;
	font-family: arial;
}

.section1 {
	position: relative;
	width: 1360px;
	height: 569px;
}


.box {
	width: 301px;
	height: 431px;
}

h3 {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	margin-top: 12px;
}

.lorem1 {
	font-size: 15.998350143432617px;
	font-family: 'Raleway', sans-serif;
	margin-top: 12px;
}


.section2 {
	width: 1006px;
	height: 731px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
}